@charset 'UTF-8';

/*
 * gutter
 *
 */
$gutter: .75rem;

/*
 * colors
 *
 */
$color-main: #4c50ff;
$color-main-hover: #4246e9;
$color-accent-1: #f73859;
$color-accent-1-hover: #d52b49;
$color-accent-2: #4d4cac;
$color-accent-2-hover: #5958b7;

$color-white: #fff;
$color-error: #f67884;
$color-black-4: #444;
$color-black-3: #333;
$color-black-2: #222;
$color-black-1: #111;
$color-black-0: #000;

$color-gray-5: #ccc;
$color-gray-4: #ddd;
$color-gray-3: #eee;
$color-gray-2: #f1f1f1;
$color-gray-1: #f5f5f5;

$color-text: $color-black-0;
$color-text-light: #555;

/*
 * text
 *
 */
$text-size: 16px;

/*
 * spacings
 *
 */
$gap: 1rem;
$gap-large: 1.5rem;

/*
 * radius
 *
 */
$border-radius-circle: 50%;
$border-radius-round: 100px;
$border-radius-3: 10px;
$border-radius-2: 5px;
$border-radius-1: 3px;

/*
 * shadows
 *
 */
$shadow-medium: 0px 3px 10px 0px rgba( 0, 0, 0, 0.15 );

/*
 * units
 *
 */
$max-width: 1630px !default;

/*
 * easings
 *
 */
$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);
