@charset 'UTF-8';

/*
 * hide default single pagination
 *
 */
.pagination-single,
.post-navigation {
    display: none;
}

.single-post {
    .post {
        padding-bottom: 8rem;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

/*
 * load next article preloader
 *
 */
.ns-preloader {
    @include absolute();
    visibility: hidden;
    margin-top: 7rem;
    text-align: center;

    i {
        font-size: 28px;
    }

    span {
        display: block;
        margin-top: 1rem;
        font-weight: 700;
    }

    .ns-ajaxing & {
        @include relative();
        visibility: visible;
    }
}

/*
 * no more articles
 *
 */
.ns-no-more {
    margin-top: 7rem;
    text-align: center;

    i {
        font-size: 28px;
    }

    span {
        display: block;
        margin-top: 1rem;
        font-weight: 700;
    }
}