@charset 'UTF-8';

/*
 * dump
 *
 */
.md-dump {
    width: 100%;
    padding: 15px;
    margin: 0 0 20px;
    font-size: 15px;
    background-color: #f1f1f1;
    color: $color-black-4;
    border-radius: 5px;
}

/*
 * general
 *
 */
.md-hidden {
    display: none;
}

.md-transition {
    @include transition(all 0.3s);
}

.md-no-transition {
    @include transition(none);
}

.md-no-pointer {
    pointer-events: none;
}

.md-no-select {
    user-select: none;
}

.md-ellipsis {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
 * display
 *
 */
.md-none {
    display: none!important;
}

.md-block {
    display: block!important;
}

.md-inline {
    display: inline!important;
}

.md-inline-block {
    display: inline-block!important;
}

/*
 * opacity
 *
 */
.md-opacity-10 {
    opacity: .1;
}
.md-opacity-20 {
    opacity: .2;
}
.md-opacity-30 {
    opacity: .3;
}
.md-opacity-40 {
    opacity: .4;
}
.md-opacity-50 {
    opacity: .5;
}

/*
 * text alignment
 *
 */
.md-text-left {
    text-align: left;
}

.md-text-center {
    text-align: center;
}

.md-text-right {
    text-align: right;
}

/*
 * text general
 *
 */
.md-weight-400 {
    font-weight: 400;
}

.md-weight-500 {
    font-weight: 500;
}

.md-weight-600 {
    font-weight: 600;
}

.md-weight-700 {
    font-weight: 700;
}

.md-weight-800 {
    font-weight: 800;
}

.md-text-uppercase {
    text-transform: uppercase;
}

/*
 * text colors
 *
 */
.md-text-black {
    color: $color-black-1;
}

.md-text-white {
    color: $color-white;
}

/*
 * width
 *
 */
.md-w-100 {
    width: 100%!important;
}

/*
 * margins
 *
 */
.md-ml-auto {
    margin-left: auto!important;
}

.md-mr-auto {
    margin-right: auto!important;
}

.md-m-0 {
    margin: 0!important;
}

.md-mt-0 {
    margin-top: 0!important;
}

.md-mt-1 {
    margin-top: 0.5rem!important;
}

.md-mt-2 {
    margin-top: 1rem!important;
}

.md-mt-3 {
    margin-top: 1.5rem!important;
}

.md-mt-4 {
    margin-top: 2rem!important;
}

.md-mt-5 {
    margin-top: 2.5rem!important;
}

.md-mt-6 {
    margin-top: 3rem!important;
}

.md-mr-0 {
    margin-right: 0!important;
}

.md-mr-1 {
    margin-right: 0.5rem!important;
}

.md-mr-2 {
    margin-right: 1rem!important;
}

.md-mr-3 {
    margin-right: 1.5rem!important;
}

.md-mr-4 {
    margin-right: 2rem!important;
}

.md-mr-5 {
    margin-right: 2.5rem!important;
}

.md-mr-6 {
    margin-right: 3rem!important;
}

.md-mb-0 {
    margin-bottom: 0!important;
}

.md-mb-1 {
    margin-bottom: 0.5rem!important;
}

.md-mb-2 {
    margin-bottom: 1rem!important;
}

.md-mb-3 {
    margin-bottom: 1.5rem!important;
}

.md-mb-4 {
    margin-bottom: 2rem!important;
}

.md-mb-5 {
    margin-bottom: 2.5rem!important;
}

.md-mb-6 {
    margin-bottom: 3rem!important;
}

.md-ml-0 {
    margin-left: 0!important;
}

.md-ml-1 {
    margin-left: 0.5rem!important;
}

.md-ml-2 {
    margin-left: 1rem!important;
}

.md-ml-3 {
    margin-left: 1.5rem!important;
}

.md-ml-4 {
    margin-left: 2rem!important;
}

.md-ml-5 {
    margin-left: 2.5rem!important;
}

.md-ml-6 {
    margin-left: 3rem!important;
}

/*
 * margins
 *
 */
.md-p-0 {
    padding: 0!important;
}

/*
 * flex
 *
 */
.md-flex {
    display: flex!important;
}

.md-flex-wrap {
    flex-wrap: wrap!important;
}

.md-flex-column {
    flex-direction: column!important;
}

.md-justify-start {
    justify-content: start!important;
}

.md-justify-center {
    justify-content: center!important;
}

.md-justify-space {
    justify-content: space-between!important;
}

.md-justify-end {
    justify-content: end!important;
}

/*
 * flex alignment
 *
 */
.md-align-stretch {
    align-items: stretch;
}

.md-align-start {
    align-items: flex-start;
}

.md-align-center {
    align-items: center;
}

.md-align-end {
    align-items: flex-end;
}

/*
 * class error
 *
 */
.md-alert-error {
    width: 100%;
    padding: 8px 13px;
    margin: $gutter 0;
    background-color: $color-error;
    color: $color-white;
    font-size: 15px;
    border-radius: $border-radius-1;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: block;
            margin: 0;
            font-weight: 700;
        }
    }
}

/*
 * textarea scrollbar
 *
 */
.md-scrollbar {
    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #000;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #444;
    }
}

/*
 * tables
 *
 *
.md-clickable-row {
    cursor: pointer;

    .md-row-click {
        display: none;
    }
}*/

/*
 * positions
 *
 */
.md-relative {
    @include relative;
}

